.dashboard {
  margin: auto;
  width: 50rem;
  height: 25rem;
  padding: 1rem 1.5rem;
  border-radius: 2rem;
  background-color: #ebc98b;
  font-family: 'Fredoka', sans-serif;
}

.dashboard > h3 {
  text-align: left;
  margin-bottom: 2rem;
  font-weight: 600;
  font-size: 1rem;
  color: #432929;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.left-side {
  width: 35%;
}

.right-side {
  width: 65%;
  height: 19.4rem;
  padding: 0 1.5rem;
  position: relative;
}

.timer-padding {
  background-color: #C6A05D;
  margin-bottom: 1.2rem;
  border-radius: 1rem;
  padding: 1.4rem 0;
  position: relative;
}

.info-container {
  margin-bottom: .8rem;
  text-align: left;
}

.info-container h3 {
  color: #432929de;
  font-weight: 500;
  font-size: .9rem;
  display: inline-block;
  width: 8rem;
}

.info-container span {
  font-size: 1.5rem;
  color: #432929;
  font-weight: 500;
}

.dashboard-buttons {
  position: absolute;
  bottom: 0;
  right: 50%;
  transform: translateX(50%);
}

.dashboard-buttons button {
  background-color: #C68728;
  color: #432929;
  width: 21.8rem;
  padding: 1.2rem 0;
  border-radius: 1rem;
  font-family: 'Fredoka', sans-serif;
  border: 3px solid #432929;
  border-top: 1px solid #432929;
  border-bottom: 6px solid #432929;
  font-size: 1.3rem;
  font-weight: 600;
  cursor: pointer;
}

.dashboard-buttons button:disabled {
  opacity: .7;
  cursor: not-allowed;
}