.timer {
  color: #432929;
}

.count-down {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.info-icon {
  font-size: .8rem;
  cursor: pointer;
  color: #432929a1;
  padding-left: .5rem;
}

.seperator {
  margin: 0 .25rem;
}

.timer-title {
  position: absolute;
  left: 50%;
  top: .2rem;
  transform: translateX(-50%);
  font-size: .7rem;
  color: #432929c9;
}